{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>RedMenu Admin</title>
  <link rel="stylesheet" href="{% static 'ordinibar/css/general.css' %}" />
  <link rel = "stylesheet" href = "{% static 'ordinibar/css/admin/gestioneprodotti/aggiungiprodotto.css' %}"/>
  <link rel="shortcut icon" href="{%static 'ordinibar/img/favicon.ico'%}">
</head>

<body>
  <div class="redcontainer">
    <div class="icon cursorpointer"><a href="javascript:history.back()"><img src="{% static 'ordinibar/img/back.png' %}"
          alt="back" /></a></div>
    <div class="whitecontainer">
      <div class="content">
        <div class="titolo2">Aggiungi Prodotto</div>
        <div class="nome">
          <form method="post" id = "addproductform">
            {% csrf_token %}
            {{add_product_form}}
          </form>
          <div class="spalma">
            <div class="btn btnred">Conferma</div>
            <div class="btn btngray" onclick="history.back()">Annulla</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>