{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>RedMenu Admin</title>
  <link rel="stylesheet" href="{% static 'ordinibar/css/general.css' %}" />
  <!-- <link rel="stylesheet" href="{% static 'ordinibar/css/admin/listaordini/listaordini.css' %}" /> -->
  <link rel="stylesheet" href="{% static 'ordinibar/css/admin/gestioneprodotti/lista_prodotti.css' %}" />
  <link rel="shortcut icon" href="{%static 'ordinibar/img/favicon.ico'%}">
  <script src = "{% static 'ordinibar/js/admin/gestioneprodotti/listaprodotti.js'%}"></script>
</head>

<body>
  <div class="redcontainer">
    <div class="icon cursorpointer"><a href = "/administration"><img src="{% static 'ordinibar/img/back.png' %}" alt="back" /></a></div>
    <div class="whitecontainer">
      <div class="content">
        <div class="lista">

          {% for prodotto in lista_prodotti%}
          <div class="ordine"
            onclick="selectProduct('{{prodotto.pk}}', '{{prodotto.nome}}', '{{prodotto.prezzo}}', false)">
            <div class="prop cursorpointer">
              <div class="nome">{{prodotto.nome}}</div>
              <div class="totale">{{prodotto.prezzo}}€</div>
            </div>
          </div>
          {% endfor %}

        </div>
        
      </div>
    </div>
    <div class="bottom_menu" id="aggiungiprodotto" onclick="window.location = '/administration/addproduct'">Aggiungi prodotto</div>
  </div>
</body>

</html>