@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");


input, label{
    font-size: 16px;
}

#addproductform{
     padding-top: 15px; 
}

form input[type = "text"],
form input[type = "number"],
form input[type = "text"]:focus,
form input[type = "number"]:focus{
    border-radius: 10px;
    border:none;
    background-color: #eeeeee;
    padding: 10px;
    -webkit-tap-highlight-color: transparent; 
}

.form_input{
    margin: 10px;
    width: 100%;
}

.form_input input{
    width: 75%;
    margin: auto;
}

.selezione_tipo{
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.tipo_prodotto{
    margin: 10px;
}

.aggiunte{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.btnred{
    border: none;
}
