{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>RedMenu</title>
  <link rel="stylesheet" href="{%static 'ordinibar/css/general.css'%}" />
  <link rel="stylesheet" href="{%static 'ordinibar/css/account.css'%}" />
  <link rel="shortcut icon" href="{%static 'ordinibar/img/favicon.ico'%}">
  <script src="{%static 'ordinibar/js/account.js'%}"></script>
</head>

<body onload="onload_function()">
  <div id="content">
    <div><a href="javascript:history.back()">
        <img src="{% static 'ordinibar/img/back-black.png' %}" alt="" onclick="overlayTranslateOut()" />
      </a>
      <div id="account">Account</div>
      <div id="dati">
        <info>
          <p class="title">Email</p>
          <p class="dato">{{user.email}}</p>
        </info>
        <info>
          <p class="title">Nome Utente</p>
          <p class="dato">{{user.username}}</p>
        </info>
      </div>
    </div>
    <div id="actions">
      <p class="action"><a href="/cronologia">Visualizza cronologia ordini</a></p>
      <p class="action">Visualizza QR utente</p>
      <p class="action" id="change_email">Cambia email</p>
      <p class="action action-red" id="change_password">Cambia password</p>
      <p class="action"><a href="/logout">Log out</a></p>
    </div>
  </div>

  <div class="modal" id="email_modal">
    <div class="modal_content" id="email_modal_content">
      <span class="close" id="close_email">&times;</span>
      <p>Modale cambio email</p>
    </div>
  </div>

  <div class="modal" id="password_modal">
    <div class="modal_content" id="password_modal_content">
      <span class="close" id="close_password">&times;</span>
      <p>Cambio password</p>
      <form method="POST">
        {% csrf_token %}
        {{change_password_form}}
        <input type = "submit">
      </form>
    </div>
  </div>
</body>

</html>