{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RedMenu - Login</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href='{% static "ordinibar/css/styles.css"%}'>
    <script src='{% static "ordinibar/js/animazioni.js"%}'></script>
</head>

<body>
    <div class="content">
        <div class="loginform">
            <div class="logo">LOGO</div>



            <form method="POST">

                {% csrf_token %}
                {{login_form}}
                <div class="vedipsw" onclick="vedipsw()"><img src="{%static 'ordinibar/img/eye.png'%}"></div>
                {% if messages %}
                {% for message in messages %}
                <p id="login_error">Username o password errati</p>
                {% endfor %}
                {% endif %}

                <div class="loginbuttons">

                    <button id="login" type="submit">Log in</button><button id="registrati"
                        type="button">Registrati</button>
                </div>

            </form>
        </div>

    </div>
    <div id="overlay" class="overlay">
        <div class="logo">LOGO</div>
    </div>
</body>


</html>