{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Red Menu</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="{%static 'ordinibar/css/general.css'%}" />
  <link rel="stylesheet" href="{% static 'ordinibar/css/ordine.css' %}" />
  <script src="{% static 'ordinibar/js/animazioni.js' %}"></script>
  <script src="{% static 'ordinibar/js/ordine_confirmed.js' %}"></script>
  <!-- <script type="text/javascript" src="jquery.qrcode.min.js"></script> -->
  <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
  <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lrsjng.jquery-qrcode/0.17.0/jquery-qrcode.min.js"></script> -->
  <link rel="shortcut icon" href="{%static 'ordinibar/img/favicon.ico'%}">
</head>

<body onload="CaricaPagina()">
  <div id="overlaymenu" class="overlaymenu">
    <div class="backicon">
      <img src="{% static 'ordinibar/img/back.png' %}" alt="" onclick="overlayTranslateOut()" />
    </div>
    <div class="options">
      <div class="option"><a href="/account">Account</a></div>
      <div class="option">Ordina per</div>
      <div class="option">Visualizza stati</div>
    </div>
  </div>
  <div class="redcontainer">
    <div class="menubutton">
      <img id="menubutton" src="{% static 'ordinibar/img/menuicon.svg' %}" alt="" onclick="overlayTranslateIn()" />
    </div>
    <div class="whitecontainer">
      <div class="gradient"></div>
      <p>Ordine</p>
      <div class="orarioprezzo">
        <div id="prezzo"></div>
        <div id="orario"></div>
      </div>
      <div id="qr">
        <!-- CONTENUTO -->
      </div>
      <div class="home" onclick="PassaggioIndietro()">
        Home
      </div>
    </div>
  </div>
</body>

</html>