{% extends 'ordinibar/base_templates/whitebase.html' %}
{% load static %}

{% block extra_head %}
<script src="{% static 'ordinibar/js/modal.js' %}"></script>
<script src = "{% static 'ordinibar/js/account.js' %}"></script>
{% endblock %}

{% block extra_icon %}
onclick = "window.history.back();"
{%endblock%}

{%block extra_body_params %}onload = "load_account_modals();check_errors('{{errors}}')"{% endblock %}

{% block extrabodyhead %}<div class="t1 p3">Account</div>{% endblock %}

{% block content %}

<div class="d-col h-100 justify-between">
    <div>
        <div class="t2 t-grey-dark">Email</div>
        <div class="t4 mb-1">{{user.email}}</div>
        <div class="t2 t-grey-dark">Nome utente</div>
        <div class="t4 mb-1">{{user.username}}</div>
    </div>
    <div>
        <div class="t4 underlined" onclick="window.location.href = 'cronologia'">Visualizza cronologia ordini</div>
        <div id="change_email" class="t4 underlined">Cambia email</div>
        <div id="change_password" class="t4 t-red underlined">
            Cambia password
        </div>
        <div class="t4 underlined" onclick="window.location.href = 'logout'">Log out</div>
    </div>

    <div class="modal" id="email_modal">
        <div class="modal-content" id="email_modal_content">
            <div class="content">
                <form method="post">
                    {% csrf_token %}
                    <!-- {{change_email_form}} -->
                    <!-- DA SISTEMARE -->
                    <input type="text" value = "email_change" style="visibility: hidden;height: 0;" name = "request_type" required>
                    <!-- {{change_email_form}} -->
                    <div class="t2">Cambia email</div>
                    <div class="m1">
                        <div class="t3">Password:</div>
                        <div class="input">
                            <input class="p2" placeholder="Password" type="password" name="password" id="" />
                        </div>
                    </div>
                    <div class="m1">
                        <div class="t3">Nuova email:</div>
                        <div class="input">
                            <input class="p2" placeholder="redmenu@example.com" type="email" name="nuova_email" id="new_email" oninput="check_emails()" value = ""/>
                        </div>
                    </div>
                    <div class="m1">
                        <div class="t3">Conferma email:</div>
                        <div class="input mb-1">
                            <input class="p2" placeholder="redmenu@example.com" type="email" name="conferma_email" id="confirm_email" oninput="check_emails()" value = ""/>
                        </div>
                    </div>
                    <div class = "w-100 t-red" id = "email_error_div" style = "margin: 10px;"></div>
                    <div class="w-100 justify-between">
                        <button class="btn btn-red w-45" type="submit" style="border: none;" id = "submit_email">Conferma</button>
                        <div id="close_email" class="btn btn-grey w-45">Annulla</div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- EMAIL END -->

    <div class="modal" id="password_modal">
        <div class="modal-content" id="password_modal_content">
            <div class="content">
                <!-- {{change_password_form}} -->
                <form method="post">
                    {% csrf_token %}
                    <!-- DA SISTEMARE -->
                    <input type="text" value = "password_change" style="visibility: hidden;height: 0;" name = "request_type">
                    <div class="t2">Cambia password</div>
                    <div class="m1">
                        <div class="t3">Password attuale:</div>
                        <div class="input">
                            <input class="p2" placeholder="redmenu@example.com" type="password" name="vecchia_password"
                                id="" />
                        </div>
                    </div>
                    <div class="m1">
                        <div class="t3">Nuova password:</div>
                        <div class="input">
                            <input class="p2" placeholder="redmenu@example.com" type="password" name="nuova_password"
                                id="nuova_password" oninput="check_passwords()"/>
                        </div>
                    </div>
                    <div class="m1">
                        <div class="t3">Conferma password:</div>
                        <div class="input mb-1">
                            <input class="p2" placeholder="redmenu@example.com" type="password" name="conferma_password"
                                id="conferma_password" oninput="check_passwords()"/>
                        </div>
                    </div>
                    <div class = "w-100 t-red" id = "password_error_div" style = "margin: 10px;"></div>
                    <div class="w-100 justify-between">
                        <button class="btn btn-red w-45" type="submit" style="border: none;" id = "submit_password" disabled>Conferma</button>
                        <div id="close_password" class="btn btn-grey w-45">
                            Annulla
                        </div>
                    </div>
                </form>
            </div>
            </form>
        </div>
    </div>

    {% endblock %}