{% extends 'ordinibar/base_templates/redbase.html' %}
{% load static %}

{% block extrahead %}
<script src="{% static 'ordinibar/js/ordine.js' %}"></script>
{% endblock %}

{% block extra_redcontainer %}
{% endblock %}

{% block extra_body_params %}
onload = "CaricaPagina();OrarioCambiato();"
{% endblock %}

{% block extra_whitecontainer %}
<div class="content">
    <div class="t2">Il tuo ordine:</div>
    <div class="list m1">
        <div class = "lista">
    </div>
    </div>
    <div class="t1 mb-1" id = "totale"></div>
    <div id = "containerKetchupMaionese"></div>
    <div class="t3 m1">Scegli un orario di ritiro:</div>
    <div class="input mb-1"><input class="p2" type="time" id = "orarioRitiro" onchange="OrarioCambiato()"/></div>
    <div class="w-100 justify-between">
        <div class="btn btn-red w-45" id = "conferma" onclick = "PassaggioAvanti()">Conferma</div>
        <div class="btn btn-grey w-45" onclick="PassaggioIndietro()">Annulla</div>
    </div>
</div>
{% endblock %}