/* ordine.css */

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --red: #ff4136;
  --grayA: #aaaaaa;
  --grayC: #c4c4c4;
  --grayD: #dddddd;
  --grayE: #eeeeee;
  --black: #000000;
  --white: #ffffff;
}

.redcontainer {
  width: 100%;
  height: 100%;
  background-color: var(--red);

  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.menubutton {
  height: 32px;
  margin: 30px 0 0 30px;
}

.menubutton img {
  cursor: pointer;
  visibility: visible;
}

.whitecontainer {
  flex-grow: 1;
  margin-block-start: 28px;
  width: 100%;
  background-color: var(--white);
  border-radius: 50px 50px 0 0;
  overflow: auto;
  filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.3));
}

.whitecontainer p {
  font-family: "Poppins", sans-serif;
  font-size: 44px;
  margin: -30px 0 0 32px;
}

.lista {
  display: flex;
  flex-flow: column;
  margin: 0 40px 0 40px;
  overflow: auto;
  height: fit-content;
}

.whitecontainer .gradient {
  position: sticky;
  top: 0;
  left: 0;
  border-radius: 50px 50px 0 0;
  height: 60px;
  width: 100%;
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 30%,
    rgba(0, 212, 255, 0) 100%
  );
}

.prodotto {
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 5px 0;
}

.prop .nome {
  font-size: 20px;
}

.prop .prezzo {
  font-size: 16px;
  color: gray;
}

.quantity {
  font-size: 26px;
}

.gradient {
  position: fixed;
  border-radius: 50px 50px 0 0;
  height: 60px;
  width: 100%;
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.774) 30%,
    rgba(0, 212, 255, 0) 100%
  );
}

.orario {
  height: 50px;
  margin: 20px 20px 0 20px;
}

.orario p {
  font-size: 16px;
  margin: 0 0 5px 10px;
}

.orario input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: var(--grayE);
  padding-inline: 40px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: var(--black);
  border-radius: 12px;
}

.totale {
  height: 60px;
  margin: 10px 40px 20px 40px;
  font-size: 44px;
}

::placeholder {
  color: var(--grayA);
}

#qr {
  width: 100%;
  display: flex;
  justify-content: center;
}

#qr img {
  width: 100%;
  margin: auto;
  max-width: 400px;
}

.home {
  background-color: var(--red);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  height: 44px;
  margin: 0 auto;
  width: 324px;
}

.aggiunte {
  display: flex;
  flex-flow: column;
  margin: 0 35px 0 35px;
}

.aggiunta {
  display: flex;
  justify-content: space-between;
}

.aggiunta_quantity {
  display: flex;
  flex-flow: row;
  align-items: center;
  font-size: 26px;
  margin-bottom: 15px;
}

.aggiunta_quantity .number {
  padding-inline: 15px;
}

.aggiunta_quantity .minus,
.aggiunta_quantity .plus {
  cursor: pointer;
}

#maionese .nome {
  border-bottom: 2px solid #d3bf70;
  padding: 0 10px 0 0;
}

#ketchup .nome {
  border-bottom: 2px solid var(--red);
  padding: 0 10px 0 0;

}

.buttons {
  display: flex;
  margin: 50px 20px 0 20px;
  justify-content: space-between;
}

#conferma,
#annulla {
  height: 47px;
  width: 45%;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 15px;

  font-family: "Poppins", sans-serif;
  /*box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.274);*/
}

#conferma {
  background-color: var(--red);
  color: var(--white);
}

#annulla {
  background-color: var(--grayE);
}

.disabled { /* non cliccabile */
  opacity: 50%;
  cursor: default;
}

.enabled { /* cliccabile */
  opacity: 100%;
  cursor: pointer;
}