@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --red: #ff4126;
  --grayA: #aaaaaa;
  --grayC: #c4c4c4;
  --grayD: #dddddd;
  --grayE: #eeeeee;
  --black: #000000;
  --white: #ffffff;
}

html,
body, *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
}

/* === login.html === */

.logo {
  font-family: "Poppins", sans-serif;
  font-size: 64px;

  margin-bottom: 30px;
}

.loginform {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

#email,
#password {
  height: 64px;
  width: 324px;
  margin-bottom: 25px;
}

#email input,
#password input,
#email input:focus,
#password input:focus {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: var(--grayE);
  padding-inline: 40px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: var(--black);
  border-radius: 12px;
}

::placeholder {
  color: var(--grayA);
}

.vedipsw {
  position: relative;
  height: 24px;
  width: 24px;
  left: 280px;
  top: -68%;
}

.loginbuttons {
  display: flex;
  width: 324px;
  margin: auto;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.loginbuttons button {
  width: 152px;
  height: 30px;
  border: none;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  border-radius: 8px;
  color: var(--white);
}

#login {
  background-color: var(--red);
}

#registrati {
  background-color: var(--grayC);
}

.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  background-color: var(--white);

  animation: fade 1s ease-in-out forwards;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  65% {
      opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/* === mainlist.html === */

.redbg {
  width: 100%;
  height: 100%;
  background-color: var(--red);

  display: flex;
  justify-content: center;
}

.functions {
  display: flex;
  flex-flow: column;
  width: 100%;
  margin: 30px 30px 0 30px;
}

.searchbar {
  margin-top: 20px;
  height: 50px;
}

.searchbar input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: var(--grayE);
  padding-inline: 40px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: var(--black);
  border-radius: 12px;
}

.whitebg {
  position: absolute;
  bottom: 0;
  top: 175px;
  width: 100%;
  max-height: 100%;
  background-color: var(--white);
  border-radius: 50px 50px 0 0;
}

.lista {
  display: flex;
  flex-flow: column nowrap;

  margin: 0 40px 0 40px;
  padding: 0;
  height: fit-content;
}

.prodotto {
  width: 100%;
  height: 100%;;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 10px;
}

.buttons {
  position: relative;
  top: -24px;
  z-index: 1000;
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

#salato, #dolce {
  background-color: var(--grayE);
  height: 47px;
  width: 35%;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 15px;

  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.prop .nome {
  font-size: 20px;
}

.prop .prezzo {
  font-size: 16px;
  opacity: 50%;
}

.quantity {
  display: flex;
  flex-flow: row;
  align-items: center;
  font-size: 26px;
  margin-bottom: 15px;
}

.quantity .number {
  padding-inline: 15px;
}

/* done tick button */
.done {
  position: absolute;
  bottom: 10%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.redcircle {
  background-color: var(--red);
  width: 100px;
  height: 100px;
  border-radius: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 90%;
  cursor: pointer;
}

/* overlay menu */
.overlaymenu {
  position: absolute;
  transform: translate(0, -100%);
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: var(--red);
  opacity: 80%;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: .3s;
}

.overlaymenu .options {
  display: flex;
  flex-flow: column nowrap;

  font-family: "Poppins", sans-serif;
  font-size: 24px;
  color: white;
}

.overlaymenu .option {
  margin-block: 8px;
}

.backicon {
  position: absolute;
  top: 30px;
  left: 30px;
}